
@font-face {
	font-family: "LatoBlack";
	src: url("../fonts/LatoBlack/LatoBlack.eot");
	src: url("../fonts/LatoBlack/LatoBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LatoBlack/LatoBlack.woff") format("woff"),
	url("../fonts/LatoBlack/LatoBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "LatoBold";
	src: url("../fonts/LatoBold/LatoBold.eot");
	src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LatoBold/LatoBold.woff") format("woff"),
	url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "LatoRegular";
	src: url("../fonts/LatoRegular/LatoRegular.eot");
	src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
	url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MavenProRegular";
	src: url("../fonts/MavenProRegular/MavenProRegular.eot");
	src: url("../fonts/MavenProRegular/MavenProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MavenProRegular/MavenProRegular.woff") format("woff"),
	url("../fonts/MavenProRegular/MavenProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}