* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff; }

header {
  background-color: #323232;
  height: 63px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center; }
  header a {
    display: inline-block;
    min-width: 14%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: "LatoBlack"; }
    header a:hover {
      color: #2eb398;
      text-decoration: none; }
  header div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center; }

.triangle {
  display: flex;
  justify-content: center; }

#triangle-down {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 40px solid #323232;
  position: relative; }
  #triangle-down::before {
    content: '';
    position: absolute;
    width: 410px;
    height: 1px;
    background-image: url(../img/line-top.png);
    top: -25px;
    right: 95px; }
  #triangle-down::after {
    content: '';
    position: absolute;
    width: 410px;
    height: 1px;
    background-image: url(../img/line-top.png);
    top: -25px;
    left: 95px; }

#portfolio {
  padding: 7%; }

#about {
  background-color: #2eb398;
  padding: 1% 7%; }
  #about .ab-person {
    padding: 3% 3% 6% 0;
    border: 1px solid #219d84;
    border-top: none;
    border-bottom: none; }

.person1 {
  padding: 0 2%;
  float: left; }

.person2 h1 {
  margin-top: -10px;
  margin-bottom: 0;
  color: #d7fcf5;
  font-family: "MavenProRegular"; }

.person2 h3 {
  margin: 0;
  color: #248e78;
  margin-bottom: 15px;
  font-family: "MavenProRegular"; }

.person2 p {
  line-height: 20px;
  color: #fff;
  margin: 0;
  margin-bottom: 25px;
  font-family: "LatoRegular"; }

.social-wrap {
  float: right; }
  .social-wrap ul {
    list-style-type: none; }
  .social-wrap li {
    display: inline-block;
    margin: 0 -2px;
    padding: 7px 10px; }
    .social-wrap li:nth-child(1) {
      background-color: #a5dbd4; }
    .social-wrap li:nth-child(2) {
      background-color: #6ccbbe; }
    .social-wrap li:nth-child(3) {
      background-color: #7ed0c5; }
    .social-wrap li:nth-child(4) {
      background-color: #abddd7; }
    .social-wrap li:nth-child(5) {
      background-color: #acddd7; }
    .social-wrap li:nth-child(6) {
      background-color: #6dcbbe; }
  .social-wrap a {
    color: #00ab94; }

#get {
  background-color: #323232;
  padding: 1% 2%;
  color: #fff; }
  #get .get-line {
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }

.get-form {
  padding: 3% 0 3% 10%;
  width: 735px; }
  .get-form h2 {
    color: #e0e0e0;
    margin: 0;
    font-family: "MavenProRegular"; }
  .get-form h4 {
    color: #bebebe;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: "MavenProRegular"; }
  .get-form input {
    width: 100%;
    height: 37px;
    text-indent: 20px;
    margin-bottom: 15px;
    background-color: #454545;
    border: none;
    color: #bebebe;
    font-family: "LatoRegular"; }
  .get-form textarea {
    width: 100%;
    height: 150px;
    text-indent: 20px;
    margin-bottom: 15px;
    background-color: #454545;
    border: none;
    color: #bebebe;
    padding-top: 2%;
    resize: none;
    font-family: "LatoRegular"; }
  .get-form a {
    display: inline-block;
    float: right;
    padding: 15px 30px;
    background-color: #2eb398;
    text-transform: uppercase;
    color: #fff; }

.get-about {
  width: 205px;
  padding-top: 9%;
  margin-left: 5%;
  font-family: "LatoBold"; }
  .get-about p {
    color: #bebebe;
    line-height: 23px;
    font-size: 12px; }
    .get-about p span {
      color: #e0e0e0; }

.inform {
  display: inline-block;
  padding-top: 15%;
  font-family: "LatoBold"; }

.location {
  padding-left: 25px;
  background-image: url(../img/location.png);
  background-repeat: no-repeat;
  background-position: left center; }

.phone {
  padding-left: 25px;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: left center; }

.mail {
  padding-left: 25px;
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
  background-position: left center; }

footer {
  background-color: #222; }
  footer span {
    color: #454545;
    display: inline-block;
    padding: 1% 6%;
    font-family: "MavenProRegular"; }
