/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#triangle-down::before,
    #triangle-down::after {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header a {
        min-width: 17%;
        font-size: 12px;
    }
}

/* Extra Small Devices */
@media only screen and (max-width : 480px) {
	header a {
        min-width: 18%;
        font-size: 10px;
    }

    .person1 {
        float: none;
        text-align: center;
    }

    .person2 h1,
    .person2 h3 {
        text-align: center;
    }

    .person2 p {
        margin-left: 10px;
    }

    #about .ab-person {
        padding: 3% 3% 13% 0;
    }

    #get .get-line {
        display: block;
    }

    .get-form {
        width: 295px;
    }

    .get-form h2,
    .get-form h4 {
        text-align: center;
    }

    .get-form a {
        float: none;
        text-align: center;
        display: block;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}